@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Domine&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@media (min-width: 992px) {
  .container, .container-lg, .container-md, .container-sm {
    max-width: 1140px !important;
  }
}
.w-100 {
  width: 100%;
}

a {
  text-decoration: none;
}

.navbar-dark, .bg-dark {
  background-color: #262829 !important;
}

.top-em-nav {
  width: 40px;
  background-color: #262829;
}

.top-em-text {
  font-size: 12px;
  color: #a2a5a6;
  font-family: "Montserrat", sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 11px;
  padding-bottom: 11px;
  position: relative;
  padding-left: 42px;
}
.top-em-text span {
  color: #fff;
}

.first-em::after {
  content: "";
  height: 142%;
  width: 1px;
  background-color: #505253;
  position: absolute;
  transform: translateY(-50%);
  margin-left: 20px;
}

@media (max-width: 800px) {
  .top-em-nav {
    justify-content: center !important;
  }

  .top-em-text {
    padding-left: 0;
    margin: auto;
  }

  .first-em::after {
    display: none;
  }
}
@media (max-width: 400px) {
  .top-em-nav {
    flex-direction: column;
  }
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
  color: #ffac56;
}

.nav-link:focus, .nav-link:hover {
  color: #ffac56 !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #4e4e4e;
}

.nav-link-color {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.8rem;
    padding-left: 0.8rem;
  }
}
@media (min-width: 770px) {
  .carousel-inner .carousel-item {
    height: 700px;
  }
}
@media (max-width: 700px) {
  .carousel-inner .carousel-item {
    height: 540pxpx;
  }
}
.carousel-control-prev-icon, .carousel-control-prev-icon::after {
  content: "";
  width: 40px;
  height: 90px;
  background-color: #282828;
}

.carousel-control-next-icon, .carousel-control-next-icon::after {
  content: "";
  width: 40px;
  height: 90px;
  background-color: #282828;
}

.carousel-control-next, .carousel-control-prev {
  width: inherit;
}

.carousel-control-next-icon {
  background-image: none;
}
.carousel-control-next-icon img {
  transform: translateY(30px);
}

.carousel-control-prev-icon {
  background-image: none;
}
.carousel-control-prev-icon img {
  transform: translateY(30px);
}

@media (max-width: 800px) {
  .carousel-control-prev-icon, .carousel-control-prev-icon::after {
    display: none;
  }

  .carousel-control-next-icon, .carousel-control-next-icon::after {
    display: none;
  }
}
.header-box {
  width: 458px;
  height: 500px;
  max-width: 100%;
  background-color: red;
  position: absolute;
  z-index: 999;
  bottom: 0;
  left: 13.5%;
}
.header-box h5 {
  font-size: 14px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  padding-top: 25px;
  padding-left: 33px;
}
.header-box h3 {
  font-size: 30px;
  color: #fff;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  padding-left: 33px;
  margin-top: -7px;
  margin-bottom: 38px;
}
.header-box .blue-box {
  width: 50%;
  height: 128px;
  background-color: #03b6e7;
  border: 1px solid #00a6d3;
}
.header-box .blue-box:hover {
  background-color: #00a6d3;
}
.header-box .blue-box .col-12 {
  padding-top: 30px;
  padding-left: 47px;
}
.header-box .blue-box .col-4 {
  padding-top: 17px;
}
.header-box .blue-box .col-8 {
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}
.header-box .blue-box button {
  color: #fff;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  background-color: #16d428;
  display: block;
  margin: 39px auto;
  padding: 12px 27px;
}

@media (max-width: 966px) {
  .header-box {
    display: none;
  }
}
.orange-box {
  height: 117px;
  width: 100%;
  background-color: #ffac56;
}

.about-us-text h6 {
  color: #898e8f;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  margin-bottom: 0;
}

.about-us-text h4 {
  color: #343a3b;
  font-size: 32px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 10px;
}

.about-us-text p {
  font-family: "Domine", serif;
  font-size: 15px;
  color: #838b8c;
}

.about-us-text button {
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #fff;
  background-color: #16d429;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
}

.about-us-text button:focus {
  background-color: #ffac56;
  box-shadow: none;
}

.about-us-text .btn:hover {
  color: #fff;
  background-color: #ffac56;
}

.about-us-img img {
  width: 100%;
}

@media (max-width: 800px) {
  .about-us-content {
    flex-direction: column;
    justify-content: center;
  }

  .about-us-text {
    text-align: center;
  }

  .about-us-img {
    padding-top: 20px;
  }
}
#our-steps {
  background-color: #e7eff1;
}

#our-steps h6 {
  color: #898e8f;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0;
}

#our-steps h4 {
  font-size: 32px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #343a3b;
  padding-bottom: 8px;
}

.our-steps img {
  width: 50px;
  height: 50px;
  max-width: 100%;
}

.our-steps span {
  font-family: "Montserrat", sans-serif;
  color: #16d428;
  font-size: 20px;
  display: block;
  padding-top: 20px;
  padding-bottom: 2px;
}

.our-steps h5 {
  color: #343a3b;
  font-size: 18px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.our-steps p {
  color: #838b8c;
  font-size: 15px;
  font-family: "Domine", serif;
}

@media (max-width: 800px) {
  .ourserv-query {
    text-align: center;
    margin: auto;
  }

  .our-steps {
    padding-bottom: 40px;
  }
}
.badge-top {
  top: 50%;
  left: 50%;
  transform: translate(-50%, 16%);
  width: 224px;
  height: 264px;
  background-color: #03b6e7;
  border: 6px solid #fff;
  position: relative;
}

.badge-content {
  width: 190px;
  height: 230px;
  background-color: #03b6e7;
  border: 1px solid #35c5ec;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.badge-content img {
  height: 87px;
  width: 100px;
  margin: auto;
}

.badge-content h3 {
  font-size: 75px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0;
  margin-top: 30px;
}

.badge-content p {
  text-transform: uppercase;
  font-size: 10px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  margin-top: -12px;
}

@media (max-width: 600px) {
  .ddd {
    padding-top: 150px !important;
  }
}
#featured-projects {
  background-color: #fff;
}

#featured-projects h6 {
  color: #898e8f;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  margin-bottom: -2px;
}

#featured-projects h3 {
  color: #343a3b;
  font-size: 32px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.ft-fit-img img {
  width: 100%;
}


.hollow-box {
  padding-right: 30px;
  width: 100%;
  height: 100%;
  background-color: #ffac56;
  padding-right: 15px;
}

.img-holl-2 img {
  width: 100%;
}

.img-holl-3 img {
  width: 100%;
  padding-top: 31.5px;
}

.ft-fit-img button {
  color: #fff;
  border: 2px solid #ffac56;
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 4px;
  padding-bottom: 3px;
}

.plus-box {
  width: 0;
  height: 0;
  border-bottom: 45px solid #03b6e7;
  border-right: 45px solid transparent;
  position: absolute;
  left: 0;
  bottom: 0;
}

.plus-box img {
  position: absolute;
  width: 12px;
  z-index: 999;
  transform: translate(6px, 23px);
}

.hollow-box h5 {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0px;
  padding-top: 50px;
}
.hollow-box p {
  text-transform: capitalize;
  font-size: 15px;
  color: #fff;
  font-family: "Domine", serif;
}
.hollow-box .plus-box {
  border-bottom: 45px solid #f6a149;
}

.img-holl-2 button {
  border: 2px solid #ffac56;
  color: #fff;
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  padding: 4px 10px;
  text-transform: uppercase;
}

.plus-box-2 {
  width: 0;
  height: 0;
  border-bottom: 45px solid #03b6e7;
  border-right: 45px solid transparent;
  position: absolute;
  bottom: 0;
}

.plus-box-2 img {
  position: absolute;
  width: 12px;
  z-index: 999;
  transform: translate(6px, 23px);
}

.img-holl-3 button {
  color: #fff;
  border: 2px solid #ffac56;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  padding: 4px 8px;
  position: absolute;
  top: 48px;
  left: 19px;
}

.plus-box-3 {
  width: 0;
  height: 0;
  border-bottom: 45px solid #03b6e7;
  border-right: 45px solid transparent;
  position: absolute;
  bottom: 0;
}

.plus-box-3 img {
  position: absolute;
  width: 12px;
  z-index: 999;
  transform: translate(6px, -6px);
}

.last-featured {
  padding-top: 30px;
  margin-bottom: 76px;
}

.last-featured button {
  background-color: #16d428;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  padding: 9px 20px;
}

.last-featured button:hover {
  color: #fff;
  background-color: #ffac56;
}

.last-featured button:focus {
  background-color: #ffac56;
  box-shadow: none;
}

#testimonials {
  background-color: #03b6e7;
}

.testimonials h6 {
  text-transform: uppercase;
  color: #a6ecff;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: -2px;
}

.testimonials h3 {
  text-transform: uppercase;
  color: #fff;
  font-size: 32px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.test-text p {
  color: #ddf8ff;
  font-size: 15px;
  font-family: "Domine", serif;
}

.test-text p::after {
  content: "";
  display: block;
  border-bottom: 2px solid #fff;
  width: 17px;
  padding-top: 23px;
}

@media (max-width: 992px) {
  .sixty-img {
    display: none;
  }

  .sixty-img-2 {
    display: none;
  }
}
.client-img img {
  width: 66px;
  border-radius: 50%;
}

.client-text {
  padding-left: 30px;
}

.client-text h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 0;
}

.client-text p {
  font-size: 15px;
  color: #ddf8ff;
  font-family: "Domine", serif;
}

.carousel-circles {
  align-items: center;
}

.circle-client {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 3px solid #fff;
  margin-left: 6px;
}

.carousel-circles .special-circle {
  border-color: #16d428;
  position: relative;
}

.special-circle div {
  width: 2px;
  height: 2px;
  background-color: #16d428;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.test-clients {
  display: flex;
  flex-direction: row;
}

@media (max-width: 800px) {
  .test-clients {
    flex-direction: column;
    align-items: center;
  }

  .client, .client-1, .client-2 {
    padding-bottom: 30px;
  }

  .carousel-circles {
    padding-top: 10px;
    margin: auto;
  }
}
#our-blog {
  background-color: #e7eff1;
  background-image: url('../img/Layer 24.png');
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

.blog-content-bg {
  background-color: #e7eff1;
}

@media(max-width: 992px) {
  #our-blog {
    background-image: none;
  }
}

.our-blog-content h6 {
  color: #898e8f;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0;
  text-transform: uppercase;
}

.our-blog-content h2 {
  color: #343a3b;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  margin-top: -2px;
}

.our-blog-content button {
  font-size: 12px;
  color: #606668;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  border: 2px solid #989fa0;
  height: 33px;
  width: 110px;
  text-align: center;
}

.bg-btn {
  border-color: #ffac56 !important;
}

#our-blog img {
  width: 100%;
  height: 100%;
}

#contact-us {
  background-color: #fff;
}

.con-text h5 {
  color: #343a3b;
  font-size: 15px;
  font-family: "Domine", serif;
  margin-bottom: 5px;
}
.con-text h5 span {
  color: #16d428;
}
.con-text h3 {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #343a3b;
  padding-bottom: 9px;
  text-transform: uppercase;
}
.con-text p {
  color: #838b8c;
  font-family: "Domine", serif;
  font-size: 15px;
}

.consult-text h6 {
  font-size: 14px;
  color: #898e8f;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0;
  text-transform: uppercase;
}
.consult-text h3 {
  font-size: 32px;
  color: #343a3b;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.consalt-box, .consalt-box-1, .consalt-box-2 {
  border: 1px solid #e1eaec;
  width: 356px;
  height: 126px;
}

@media(max-width: 580px) {
  .consalt-box, .consalt-box-1, .consalt-box-2 {
    height: auto;
  }
}

@media(max-width: 400px) {
  .consalt-box, .consalt-box-1, .consalt-box-2 {
    width: 100% !important;
    text-align: center;
  }
}

.cb-1 {
  margin-right: 16.5px;
}

.cb-2 {
  margin-right: 16.5px;
  margin-left: 16.5px;
}

.cb-3 {
  margin-left: 16.5px;
}

.cb-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

@media (max-width: 992px) {
  .cb-main {
    flex-direction: column !important;
    align-items: center;
  }

  .consalt-box, .consalt-box-1, .consalt-box-2 {
    margin: 10px 0;
  }

  .consult-text {
    text-align: center;
  }
}
.cn-gg {
  padding-top: 32px;
  padding-left: 27px;
}

.cn-gg h6 {
  font-size: 18px;
  color: #343a3b;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  margin-bottom: 0;
}

.cn-gg p {
  color: #343a3b;
  font-size: 18px;
  font-family: "Domine", serif;
}

footer {
  background-color: #262829;
  color: #fff;
}
footer .footer-email h5 {
  color: #e1e1e1;
  font-size: 20px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}
footer .footer-email p {
  font-size: 15px;
  color: #838b8c;
  font-family: "Domine", serif;
  padding-top: 10px;
}
footer .input-footer {
  width: 100%;
  display: flex;
  position: relative;
}
footer .footer-email input {
  font-size: 13px;
  color: #5e5e5e;
  font-family: "Montserrat", sans-serif;
  background-color: #323334;
  border: none;
  text-transform: uppercase;
  padding: 12px 25px;
  color: #fff;
  margin-top: 15px;
  height: 52px;
  width: 100%;
}
footer .footer-email input:focus {
  outline: none;
}
footer .input-footer button {
  color: #fff;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  background-color: #16d428;
  padding: 13px 25px;
  margin-top: 15px;
  position: absolute;
  right: 0;
}
footer .footer-email button:hover {
  color: #fff;
  background-color: #ffac56;
}
footer .footer-email button:focus {
  background-color: #ffac56;
  box-shadow: none;
}

@media (max-width: 800px) {
  .footer-email button {
    position: static !important;
    display: block;
    margin: auto;
  }

  .footer-email {
    text-align: center;
  }
}
@media (max-width: 400px) {
  .input-footer {
    display: none !important;
  }
}
.navigation-footer-text h4 {
  color: #e1e1e1;
  font-size: 20px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  padding-bottom: 16px;
}
.navigation-footer-text h6 {
  color: #838b8c;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  padding-bottom: 3px;
}

@media (max-width: 768px) {
  .navigation-footer-text {
    text-align: center;
  }

  .navigation-footer-text h4 {
    margin-top: 50px;
  }

  .pd-footer {
    padding-left: 0 !important;
  }
}
.copyright-text {
  color: #838b8c;
  font-size: 15px;
  font-family: "Domine", serif;
  margin-top: 62px;
  padding-bottom: 36px;
}

.copyright-text::before {
  content: "";
  display: block;
  width: 100%;
  border-top: 1px solid #323334;
  padding-bottom: 16px;
}

/*# sourceMappingURL=style.css.map */